/* LAYOUT */
* {
    margin: 0;
    padding: 0;
}

#main {
    /* border: 3px solid red; */
    margin: 10px;
    max-width: 100%;
    min-height: 500px;
    background-image: url(https://images.unsplash.com/photo-1517988368819-88f4eacfef44?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 25%);
    background-blend-mode: overlay;
    border-radius: 25px;
    align-content: center;
}

.main-content h1 {
    padding-bottom: 10px;
}
.main-content {
        /* border: 3px solid red; */
        color: white;
        margin: 0 100px;
        max-width: 500px;
}

/* .main-content h1 {
    padding-bottom: 1%;
} */

#top-itineraries {
    /* border: 3px solid red; */
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    /* align-items: flex-start; */
}

#top-itineraries figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 300px;
    height: 300px;
    /* object-fit: fill; */
}

.itinerary img {
    /* border: 3px solid red; */
    border-radius: 25px;
    width: 300px;
    height: 250px;
}

.itinerary figcaption {
    padding: 0px 15px 15px;
}

/* VISUALS */

* {
    font-family: 'Inter', system-ui, sans-serif;
}

.main-content h1 {
    font-size: 70PX;
    text-shadow: 0px 0px 5px black;
}

.main-content p {
    text-shadow: 0px 0px 5px black;
}

#top-itineraries figure {
    border: 1px solid gray;
    background-color: white;
    color: black;
    border-radius: 25px; 
    /* overflow: hidden; */
}