/* LAYOUT */
* {
    margin: 0;
    padding: 0;
}
body {
        margin: 10px;
}

#main {
    /* border: 3px solid red; */
    max-width: 100%;
    min-height: 500px;
    background-image: url(https://images.unsplash.com/photo-1517988368819-88f4eacfef44?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 25%);
    background-blend-mode: overlay;
    border-radius: 25px;
    align-content: center;
    overflow: hidden;
}

.main-content h1 {
    padding-bottom: 10px;
}

.main-content {
        /* border: 3px solid red; */
        color: white;
        margin: 0 10%;
        min-width: none;
        max-width: 500px;
}

#packages {
    /* border: 3px solid red; */
    padding: 40px 0px 50px;
}

.packages-content h2 {
    padding: 0px 0px 10px;
}

.packages-content p {
    /* border: 3px solid red; */
    margin: auto;
    max-width: 700px;
    padding-bottom: 40px;
}

.packages-content ul {
    /* border: 3px solid red; */
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.packages-content li {
    align-content: center;
}

#top-itineraries {
    /* border: 3px solid red; */
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
    /* align-items: flex-start; */
}

#top-itineraries figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 300px;
    height: 300px;
    /* object-fit: fill; */
}

.itinerary-content img {
    /* border: 3px solid red; */
    border-radius: 25px;
    width: 300px;
    height: 250px;
}

.itinerary-content figcaption {
    padding: 0px 15px 15px;
}

/* VISUALS */

* {
    font-family: 'Inter', system-ui, sans-serif;
}

.main-content h1 {
    font-size: clamp(32px, 7vw, 70px);
    text-shadow: 0px 0px 5px black;
}

.main-content p {
    text-shadow: 0px 0px 5px black;
}

.packages-content {
    text-align: center;
}

.packages-content h2 {
    font-size: 45px;
}

.packages-content p {
    color: gray;
}

#top-itineraries figure {
    border: 1px solid gray;
    background-color: white;
    color: black;
    border-radius: 25px; 
    /* overflow: hidden; */
}

.top-itineraries-title {
    /* border: 3px solid red; */
    font-size: 45px;
    text-align: center;
}