body {
    color: black;
    background-color: white;
    font-family: 'Inter', 'sans-serif';
}

form {
    background-color: lightgoldenrodyellow;
    width: 43.5%;
    margin: 2.7% auto;
    padding: 2.0rem;
    border-radius: 0.25rem; 
}

fieldset {
    border: none;
}

label {
    display: block;
    margin: 3% 0%;
    font-weight: 500;
}

h1,
p {
    text-align: center;
}

input[type="submit"] {
    width: 100%;
    min-height: 50px;
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: medium;
    color: white;
    border: none;
    background-color: black;
    border-radius: 3px;
}

.information-section input,
.role-section select,
.feature-section select,
.feedback-section textarea {
    display: block;
    margin: 1.5% 0%;
    padding: 1.5%;
    border: 1px solid grey;
    border-radius: 3px;
    font-family: 'Inter', 'sans-serif';
}

select {
    width: 100%;
    height: 40px;
}

.information-section input {
    width: 96.7%;
    height: 20px;
}

.feedback-section textarea {
    width: 96.7%;
    min-height: 100px;
}

.recommendation-section label,
.improvements-section label {
    margin: 0.5% 0%;

}

.recommendation-section input,
.improvements-section input {
    min-width: 1.25rem;
    min-height: 1.25rem;
    margin-right: 1%;
}

.feature-section label {
    margin-top: 3%;
}

#title {
    margin: 3% 0% 0%;
}

#description {
    font-style: italic;
    margin: 0.5% 0% 0%;
}