@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

@font-face {
    font-family: 'Providence Sans';
    src: url('Fonts\Providence-Sans-Regular') format('ttf');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 2% 5%;
}

p,
li {
    font-family: "Providence Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 25px;
    margin: 5px 0% 0%;
}

.heading-one h1,
.heading-two h2 {
    text-align: left;
    font-family: "Darumadrop One", sans-serif;
    font-style: normal;
    font-size: 2rem;
}

.heading-two {
    /* border: 3px solid red; */
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin: 20px 0%;
}

#instructions {
    /* border: 3px solid black; */
    width: 50%;
    height: fit-content;
    justify-items: center;
    align-content: center;
    background-color: beige;
    border-radius: 25px;
}

#instructions ol {
    /* border: 3px solid red; */
    margin: 0 10% 10%;
}

#instructions li {
    /* border: 1px solid red; */
    padding-top: 15px;
}

#ingredients {
    /* border: 3px solid black; */
    width: 50%;
    justify-items: center;
    align-content: center;
    background-color: beige;
    border-radius: 25px;
}

#ingredients ul {
    /* border: 3px solid red; */
    margin: 0 10% 10%;
}

#ingredients li {
    /* border: 1px solid red; */
    text-align: left;
    padding-top: 15px;
}

#ingredients h2 {
    /* border: 3px solid red; */
    justify-items: left;
    /* padding-left: 25px; */


}
